body {
    text-align: center;
    font-size: 40px;
}
.game{
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    min-height: 500px;
    }
    .red {
        border: 1px solid black;
        background-color: red;
    }
    .blue {
        border: 1px solid black;
        background-color: blue;
    }
    .yellow {
        border: 1px solid black;
        background-color: yellow;
    }
    .green {
        border: 1px solid black;
        background-color: green;
    }
    .red:active{
        opacity: .5;
    }
    .blue:active{
        opacity: .5;
    }
    .yellow:active{
        opacity: .5;
    }
    .green:active{
        opacity: .5;
    }
